.App {
  text-align: center;
  height: 3000px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  overflow: hidden;
  background: rgb(211, 211, 211);
  height: 80px;
  width: 100vw;
  padding: 14px 0;
}

.navbar {
  color: red;
  background: rgb(211, 211, 211);
  padding: 10px 0;
  width: 100vw;
}

.navbar-after {
  position: fixed;
}

.logo {
  height: 60px;
  font-size: 60px;
  margin: 0;
}

.body {
  margin: 138px 0 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
